# この.gitignoreファイルは、Unityプロジェクトディレクトリのルートに配置する必要があります
#
# 最新のものは、https://github.com/github/gitignore/blob/main/Unity.gitignore から入手してください
#
/[Ll]ibrary/ # Libraryまたはlibraryという名前のディレクトリを無視します
/[Tt]emp/ # Tempまたはtempという名前のディレクトリを無視します
/[Oo]bj/ # Objまたはobjという名前のディレクトリを無視します
/[Bb]uild/ # Buildまたはbuildという名前のディレクトリを無視します
/[Bb]uilds/ # Buildsまたはbuildsという名前のディレクトリを無視します
/[Ll]ogs/ # Logsまたはlogsという名前のディレクトリを無視します
/[Uu]ser[Ss]ettings/ # UserSettingsまたはusersettingsという名前のディレクトリを無視します

# MemoryCapturesはサイズが大きくなる可能性があります。
# また、非常に機密性の高いデータが含まれる可能性があります
/[Mm]emoryCaptures/ # MemoryCapturesまたはmemorycapturesという名前のディレクトリを無視します

# Recordingsはサイズが大きくなる可能性があります
/[Rr]ecordings/ # Recordingsまたはrecordingsという名前のディレクトリを無視します

# アセットストアツールプラグインを無視する場合は、この行のコメントアウトを解除してください
/[Aa]ssets/AssetStoreTools* # Assets/AssetStoreTools*というパターンに一致するファイルやディレクトリを無視します

# 自動生成されたJetbrains Riderプラグイン
/[Aa]ssets/Plugins/Editor/JetBrains* # Assets/Plugins/Editor/JetBrains*というパターンに一致するファイルやディレクトリを無視します

# Visual Studioキャッシュディレクトリ
.vs/ # .vsという名前のディレクトリを無視します

# Gradleキャッシュディレクトリ
.gradle/ # .gradleという名前のディレクトリを無視します

# 自動生成されたVS / MD / Consuloソリューションおよびプロジェクトファイル
ExportedObj/ # ExportedObjという名前のディレクトリを無視します
.consulo/ # .consuloという名前のディレクトリを無視します
*.csproj # 拡張子が.csprojのすべてのファイルを無視します
*.unityproj # 拡張子が.unityprojのすべてのファイルを無視します
*.sln # 拡張子が.slnのすべてのファイルを無視します
*.suo # 拡張子が.suoのすべてのファイルを無視します
*.tmp # 拡張子が.tmpのすべてのファイルを無視します
*.user # 拡張子が.userのすべてのファイルを無視します
*.userprefs # 拡張子が.userprefsのすべてのファイルを無視します
*.pidb # 拡張子が.pidbのすべてのファイルを無視します
*.booproj # 拡張子が.booprojのすべてのファイルを無視します
*.svd # 拡張子が.svdのすべてのファイルを無視します
*.pdb # 拡張子が.pdbのすべてのファイルを無視します
*.mdb # 拡張子が.mdbのすべてのファイルを無視します
*.opendb # 拡張子が.opendbのすべてのファイルを無視します
*.VC.db # 拡張子が.VC.dbのすべてのファイルを無視します

# Unity3Dによって生成されたメタファイル
*.pidb.meta # 拡張子が.pidb.metaのすべてのファイルを無視します
*.pdb.meta # 拡張子が.pdb.metaのすべてのファイルを無視します
*.mdb.meta # 拡張子が.mdb.metaのすべてのファイルを無視します

# Unity3Dによってクラッシュレポートで生成されたファイル
sysinfo.txt # sysinfo.txtという名前のファイルを無視します

# ビルド
*.apk # 拡張子が.apkのすべてのファイルを無視します
*.aab # 拡張子が.aabのすべてのファイルを無視します
*.unitypackage # 拡張子が.unitypackageのすべてのファイルを無視します
*.app # 拡張子が.appのすべてのファイルを無視します

# Crashlyticsによって生成されたファイル
crashlytics-build.properties # crashlytics-build.propertiesという名前のファイルを無視します

# パックされたAddressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin* # Assets/AddressableAssetsData/*/*.bin*というパターンに一致するファイルやディレクトリを無視します

# 一時的に自動生成されたAndroidアセット
/[Aa]ssets/[Ss]treamingAssets/aa.meta # Assets/StreamingAssets/aa.metaというパターンに一致するファイルやディレクトリを無視します
/[Aa]ssets/[Ss]treamingAssets/aa/* # Assets/StreamingAssets/aa/*というパターンに一致するファイルやディレクトリを無視します
.vsconfig # .vsconfigという名前のファイルを無視します
